<h1>Editing allowed postcode</h1>

<%= render "form", admin_allowed_postcode: @admin_allowed_postcode %>

<br>

<div>
  <%= link_to "Show this allowed postcode", @admin_allowed_postcode %> |
  <%= link_to "Back to allowed postcodes", admin_allowed_postcodes_path %>
</div>
