<h1>Postcode Search</h1>

<%= form_tag(postcode_searches_path, method: :post) do %>
  <%= label_tag(:postcode, 'Postcode:') %>
  <%= text_field_tag(:postcode, params[:postcode]) %>


  <%= submit_tag('Check postcode') %>
<% end %>
